@import url(../base/_global.scss);

#first_header {
  background: var(--black, #0d0d0d);
 
}

.first_header__sentence {
  color: var(--white, #fff);
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 220px;
  text-transform: uppercase;
}

.navbar {
  flex-shrink: 0;
  background: var(--gray-6, #fafafa);
  box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12),
    0px 8px 22px -6px rgba(24, 39, 75, 0.12);
}

.nav-link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.1px;
  margin-left: 10px;
}

.nav-link:hover {
  margin-bottom: 5px;
  color: red;
  transform: scale(1.1);
  transition: 0.7s;
}

.nav-link1 {
  margin-left: 24px;
}

.navbar-toggler {
  display: none;
}

.navbar-nav {
  flex-direction: row;
}

.main_header__btn {
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #0d0d0d;
  text-decoration: none;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
  margin-right: 15px;
}

.main_header__btn2 {
  color: var(--black, #0d0d0d);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--yellow, #ffc000);
  text-decoration: none;
}

.first_header__word {
  color: rgba(255, 255, 255, 0.3);
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.navbar-brand {
  color: var(--black, #0d0d0d);
  font-size: 23px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.4px;
}

#main_header__Shoping_img2{
  display: none;
}
.main_header__img {
  display: none;
}

.main_header__Shoping_img {
  margin-left: 39px;
}

@media screen and (max-width: 1000px) {
  .main_header__btns {
    display: none;
  }
  .list {
    display: none;
  }

  .navbar-toggler {
    display: inline-block;
  }

  .navbar-brand{
    display: none;
  }
  
    #main_header__Shoping_img2{
      display: inline-block;
      margin-left: 20px;
    }
    .main_header__img{
      display: inline-block;
    }
}

@media screen and (max-width: 800px) {
  #first_header {
    display: none;
  }
}

/*hero*/

#hero{
  background: var(--gray-6, #FAFAFA);
}

.hero__title{
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.25px;
    padding-top: 64px;
    margin-bottom: 61px;
}

.hero__subtitle{
    max-width: 507px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}

.hero__text{
  max-width: 557px;
  color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.25px;
    margin-top: 24px;
}

.hero__img{
  max-width: 460px;
  padding-bottom: 63px;
}

.hero__wtrapper{
  display: flex;
  align-items: center;
  gap: 129px;
}

.hero__title2{
  color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.25px;
    padding-bottom: 24px;
}

@media screen and (max-width:1000px) {
  .hero__wtrapper{
    flex-direction: column-reverse;
  }
    .hero__title{
      text-align: left;
    }
    .hero__img{
      margin-bottom: 15px;
    }
}

@media  screen and (max-width:600px) {
  .hero__subtitle{
    max-width: 300px;
  }

  .hero__text{
    max-width: 310px;
  }
}


.cards__wrapper{
  padding-bottom: 29px;
  max-width: 294px;
}

.cards_img__block{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cards__text{
  color: var(--black, #000);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.44px;
    margin-top: 45px;
}

.cards__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards__cont{
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width:800px) {
  #cards{
    background: var(--gray-6, #FAFAFA);
  }
  .cards__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:440px) {
  .cards__container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
}